@page "/AsignaturasComponent"

@using _1erParcial_Aplicada2.Controllers;
@using _1erParcial_Aplicada2.Models;


<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }


    .form-register {
        width: 500px;
        background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
        padding: 30px;
        margin: auto;
        margin-top: 100px;
        border-radius: 4px;
        font-family: 'calibri';
        color: white;
        box-shadow: 7px 13px 37px #000;
    }

    .h3 {
        color: white;
    }
</style>

<div>
    <section class="form-register">
        <EditForm Model="@asignaturas" OnValidSubmit="Guardar">
            <DataAnnotationsValidator />
            <h3>Asignaturas Component</h3>

            <h5 class="text-muted form-text">@Mensaje</h5>
            <div class="form-group">
                <label for="asignaturaid_number">AsignaturaId</label>
                <InputNumber id="asignaturaid_number" class="form-control" @bind-Value="asignaturas.AsignaturaId"></InputNumber>
                <ValidationMessage For="(() => asignaturas.AsignaturaId)" />
                <button type="button" class="btn btn-primary" @onclick="Buscar">Buscar</button>
            </div>
            <div class="form-group">
                <label for="codigo_text">Codigo</label>
                <InputText id="codigo_text" class="form-control" @bind-Value="asignaturas.Codigo"></InputText>
                <ValidationMessage For="(() => asignaturas.Codigo)" />
            </div>
            <div class="form-group">
                <label for="descripcion_text">Descripcion</label>
                <InputText id="descripcion_text" class="form-control" @bind-Value="asignaturas.Descripcion"></InputText>
                <ValidationMessage For="(() => asignaturas.Descripcion)" />
            </div>
            <div class="form-group">
                <label for="prerequisito_text">PreRequisito</label>
                <InputText id="prerequisito_text" class="form-control" @bind-Value="asignaturas.PreRequisito"></InputText>
                <ValidationMessage For="(() => asignaturas.PreRequisito)" />
            </div>
            <div class="form-group">
                <label for="creditos_number">Creditos</label>
                <InputNumber id="creditos_number" class="form-control" @bind-Value="asignaturas.Creditos"></InputNumber>
                <ValidationMessage For="(() => asignaturas.Creditos)" />
            </div>

            <div>
                <button type="button" class="btn btn-danger" @onclick="Limpiar">Nuevo</button>
                <button type="submit" class="btn btn-success">Guardar</button>
                <button type="button" class="btn btn-secondary" @onclick="Eliminar">Eliminar</button>
            </div>
        </EditForm>
    </section>
    <br />
    <br />
</div>


@code {
    [Parameter]
    public string Mensaje { get; set; }


    Asignaturas asignaturas = new Asignaturas();

    private void Limpiar()
    {
        Mensaje = string.Empty;
        asignaturas = new Asignaturas();
    }


    private void Guardar()
    {
        AsignaturasController controller = new AsignaturasController();

        if(asignaturas.AsignaturaId > 0)
        {
            if (controller.Guardar(asignaturas))
            {
                Mensaje = "Se modifico correctamente";
                asignaturas = new Asignaturas();
            }
            else
            {
                Mensaje = "No se pudo modificar";
            }
        }
        else
        {
            if (controller.Guardar(asignaturas))
            {
                Mensaje = "Se guardo correctamente";
                asignaturas = new Asignaturas();
            }
            else
            {
                Mensaje = "No se pudo guardar";
            }
        }
    }

    private void Buscar()
    {
        AsignaturasController controller = new AsignaturasController();
        Asignaturas temp = controller.Buscar(asignaturas.AsignaturaId);

        if(temp != null)
        {
            asignaturas = temp;
            Mensaje = "Se encontro la Asignatura";
        }
        else
        {
            Mensaje = "Esta Asignatura no existe";
        }
    }

    private void Eliminar()
    {
        AsignaturasController controller = new AsignaturasController();

        bool paso = controller.Eliminar(asignaturas.AsignaturaId);

        if(paso == true)
        {
            Mensaje = "La asignatura se elimino";
            asignaturas = new Asignaturas();
        }
        else
        {
            Mensaje = "No se puede eliminar una asignatura que no existe";
        }
    }
}
